* {
  margin: 0;
  padding: 0;
}

body{
  background-color: whitesmoke;
}

/* Styling the App component. */

.App {
  text-align: center;
}

/* Styling the header component. */

.backgroundImageHeader{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.mainHeaderContainer{
  position: relative;
}

.subHeaderContainer{
  position: absolute;
  top: 50px;
  color: #fff;
  border: solid whitesmoke;
  border-radius: 5px;
  width: 80%;
  height: 40%;
  left: 130px;
}

.headerComponentMainHeading{
  text-decoration: underline;
}

.headerComponentSearchOptionHeading{
  text-decoration: underline;
}

.searchBarOptionsContainer{
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  color: #fff;
}

.searchBarContainer{
  border: solid #fff;
  border-radius: 5px;
  height: 10vh;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.searchLinks{
  text-decoration: none;
  color: #fff;
  border: solid #fff;
  border-radius: 5px;
  padding: 3px; 
}

.searchLinks:hover{
  background-color: lightgray;
  transition: ease-in 0.5s;
  color: black;
}

.backgroundImage{
  width: 100%;
  height: 2000px;
  object-fit: cover;
}

.headerComponentMainHeading{
  margin-top: 25px;
  margin-bottom: 50px;
}

.headerComponentSubHeading{
  margin-bottom: 50px;
  text-decoration: underline;
}

/* Styling the Movies component. */

.mainContainerMoviesComponent{
  position: relative;
}

.subContainerMoviesComponent{
  position: absolute;
  top: 50px;
  color: #fff;
  /* border: solid black; */
  border-radius: 5px;
  width: 80%;
  /* height: 10%; */
  left: 130px;
}

.goToHomeLinkContainer{
  position: absolute;
  right: 15px;
  top: 10px;
  width: 150px;
}

.goToHomeLink{
  font-size: 1.5rem;
  color: #fff;
  padding: 10px;
}

.goToHomeLink:hover{
  transition: ease-in 0.5s;
  color: #a9f1df;
}

.moviesAlbumArtworkInnerContainer{
  border: solid black;
  position: absolute;
  bottom: 40px;
  left: 16px;
}

/* Styling the Songs component. */

.mainContainerSongsComponent{
  position: relative;
}

.subContainerSongsComponent{
  position: absolute;
  top: 10px;
  /* border: solid black; */
  border-radius: 5px;
  left: 15%;
  width: 65%;
  color: #fff;
}

.searchButton{
  width: 80px;
  height: 30px;
  font-size: 1rem;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border: solid #fff;
  border-radius: 5px;
  padding: 3px; 
}

.searchButton:hover{
  background-color: lightgray;
  transition: ease-in 0.5s;
  color: black;
}

.musicInformation{
  display: none;
}

.musicInformationMaineContainer{
  position: absolute;
  top: 300px;
  border:  solid whitesmoke;
  border-radius: 5px;
  width: 80%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  left: 8.5%;
}

#outerMusicInfoContainer{
  top: 300px;
  left: 12%;
}

.showContainer{
  position: absolute;
  top: 300px;
  left: 12%;
  border: solid black;
}

.individualElementContainer{
  border: solid whitesmoke;
  width: 110px;
  min-height: 230px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 5px;
  position: relative;
}

.individulaSongContainer:hover{
  background-color: gray;
  
  transition: ease-in .5s;
}

.link{
  text-decoration: none;
}


.artistsName{
  color: black;
}

.artistsInputField{
  height: 30px;
  font-size: 1rem;
  border-radius: 5px;
}

.artistsInputField:focus{
  outline: none;
}

.albumArtworkInnerContainer{
  border: solid black;
  position: absolute;
  bottom: 30px;
  left: 3px;
}

.hideContainer{
  display: none
}

/* Styling the Podcast component. */

.mainPodcastContainer{
  position: relative;
}

.subPodcastContainer{
  position: absolute;
  top: 50px;
  border-radius: 5px;
  left: 15%;
  width: 65%;
  color: #fff;
}

.podcastsAlbumArtworkInnerContainer{
  border: solid black;
  position: absolute;
  bottom: 30px;
  left: 2px;
}

/* Styling the AudioBook component. */

.mainAudiBookContainer{
  position: relative;
   
}

.subAudiBookContainer{
  position: absolute;
  top: 20px;
  /* border: solid black; */
  border-radius: 5px;
  left: 15%;
  width: 65%;
  color: #fff;
}

.pageHeading{
  text-decoration: underline;
  font-size: 3.5rem;
  padding-bottom: 10px;
  margin-bottom: 25px;
  /* border: solid black; */
  border-radius: 5px;
}

.songsPageHeading{
  text-decoration: underline;
  font-size: 3.5rem;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border: solid black;
  background-color: black;
  border-radius: 5px;
}

/* Styling the Short Films container. */

.mainShortFilmContainer{
  position: relative;
}

.subShortFilmContainer{
  position: absolute;
  top: 50px;
  color: #fff;
  /* border: solid black; */
  border-radius: 5px;
  width: 80%;
  /* height: 10%; */
  left: 130px;
}

/* Styling the Tv shows component. */

.mainTvShowContainer{
  position: relative;
}

.subTvShowContainer{
  position: absolute;
  top: 50px;
  /* border: solid black; */
  border-radius: 5px;
  left: 15%;
  width: 65%;
  color: #fff;
}

/* Styling the Software component. */

.mainSoftwareContainer{
  position: relative;
}

.subSoftwareContainer{
  position: absolute;
  top: 50px;
  /* border: solid black; */
  border-radius: 5px;
  left: 15%;
  width: 65%;
  color: #fff;
}

/* Styling the Ebook component. */

.mainEbookContainer{
  position: relative;
}

.ebookArtworkInnerContainer{
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.subEbookContainer{
  position: absolute;
  top: 50px;
  /* border: solid black; */
  border-radius: 5px;
  left: 15%;
  width: 65%;
  color: #fff;
}

/* Styling the AllMedia component. */

.mainAllMediaContainer{
  position: relative;
}

.subAllMediaContainer{
  position: absolute;
  top: 50px;
  border-radius: 5px;
  left: 15%;
  width: 65%;
  color: #fff;
}

/* Styling the favourites button that displays on all components once search results have been rendered on the DOM. */

.favouritesButton{
  position: absolute;
  bottom: 5px;
  left: 3px;
  cursor: pointer;
  border-radius: 5px;
}

.favouritesButton:hover{
  background-color: black;
  color: #fff;
  transition: ease-in .5s;
}

/* Styling the favourites component. */

.favouritesMainContainer{
  background-color: black;
  color: orange;
  height: 1300px;
}

.favouriteMediaInformation{
  border: solid whitesmoke;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.favouriteArtistsName{
  color: whitesmoke
}

.favouritesAlbumArtworkInnerContainer{
  border: solid yellow;
  position: absolute;
  bottom: 50px;
  left: 15px;
}

.favouritesButton{
  position: absolute;
  bottom: 2px;
}

.favouritesAlbumArtworkImage{
  width: 70px;
  height: 100px;
  object-fit: cover;
}

/* Styling the all media component. */

.allMediaAlbumArtworkInnerContainer{
  border: solid black;
  position: absolute;
  bottom: 35px;
  
}

.allMediaAlbumArtworkImage{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.AllMediaArtistsName{
  color: #fff;
}